/* Центрування сторінки */
.reset-password-page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* 100% висоти */
  width: 100vw; /* 100% ширини */
  background-color: #141414; /* Netflix чорний */
}
/* Контейнер */
.reset-password-container {
  width: 100%;
  max-width: 400px;
  padding: 2.5rem;
  border-radius: 12px;
  background-color: #000; /* ще темніше для контрасту */
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.9);

  /* Додаю щоб точно не "прилипало" вліво */
  margin: auto;
}
/* Заголовок */
.reset-password-title {
  font-size: 1.8rem;
  font-weight: 700;
  color: #fff;
  text-align: center;
  margin-bottom: 2rem;
}

/* Форма */
.reset-password-form {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

/* Лейбли */
.field label {
  color: #fff;
  font-size: 0.9rem;
  margin-bottom: 0.4rem;
  display: block;
}

/* Поля */
.custom-input .p-password-input {
  width: 100%;
}
.custom-input {
  display: flex;
  align-items: center;
  width: 100%;
  background-color: #333333;
  border-radius: 6px;
  overflow: hidden;
}
.p-icon-field {
  width: 100% !important;
}
.custom-input-inner {
  width: 100%;
  padding: 0.75rem;
  border-radius: 6px;
  border: none;
  background-color: #333333 !important;
  color: #fff !important;
  transition: background-color 0.2s ease, box-shadow 0.2s ease;
}

.custom-input-inner:focus {
  background-color: #454545 !important;
  box-shadow: 0 0 0 2px #e50914 !important;
}

/* Кнопка */
.submit-btn {
  width: 100% !important;
  background-color: #e50914 !important;
  border: none !important;
  padding: 0.85rem !important;
  border-radius: 6px !important;
  font-weight: 600 !important;
  font-size: 1rem !important;
  color: #fff !important;
  transition: background-color 0.3s ease;
}

.submit-btn:hover {
  background-color: #f6121d !important;
}
